<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C1.CollectionView" version="2.3.20172.170" targetFramework="xamarinios10" />
  <package id="C1.iOS.Core" version="2.3.20172.170" targetFramework="xamarinios10" />
  <package id="C1.iOS.Grid" version="2.3.20172.170" targetFramework="xamarinios10" />
  <package id="C1.Xamarin.Forms.Core" version="2.3.20172.170" targetFramework="xamarinios10" />
  <package id="C1.Xamarin.Forms.Grid" version="2.3.20172.170" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfChart" version="15.2.0.46" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfDataGrid" version="15.2.0.46" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="xamarinios10" />
  <package id="Xuni.CollectionView" version="2.3.20171.185" targetFramework="xamarinios10" />
  <package id="Xuni.Forms.ChartCore" version="2.3.20171.185" targetFramework="xamarinios10" />
  <package id="Xuni.Forms.Core" version="2.3.20171.185" targetFramework="xamarinios10" />
  <package id="Xuni.Forms.FlexPie" version="2.3.20171.185" targetFramework="xamarinios10" />
  <package id="Xuni.iOS.ChartCore" version="2.3.20171.185" targetFramework="xamarinios10" />
  <package id="Xuni.iOS.Core" version="2.3.20171.185" targetFramework="xamarinios10" />
  <package id="Xuni.iOS.FlexPie" version="2.3.20171.185" targetFramework="xamarinios10" />
</packages>